<?xml version="1.0" encoding="UTF-8"?>
<suite name="Wordpress_Tests">
    <test name="Site_Page_Test" preserve-order="true">
        <classes>
            <class name="tests.SitePageTest">
            </class>
        </classes>
    </test>
    <test name="Login_Page_Test" preserve-order="true">
        <classes>
            <class name="tests.LoginPageTest">
            </class>
        </classes>
    </test>
    <test name="Post_Page_Test" preserve-order="true">
        <classes>
            <class name="tests.PostPageTest">
            </class>
        </classes>
    </test>
    <test name="Add_Post_Test" preserve-order="true">
        <classes>
            <class name="tests.AddPostPageTest">
            </class>
        </classes>
    </test>
</suite>